<<<<<<< HEAD
<html> 
 <head> 
  <title>Puppet test - New Feature</title> 
 </head> 
  <body>
   <h1>Welcome to : "<%= @application_title %>"new  </h1>
      <p>This server's name is: <%= @hostname %></p> 
      <p>This server's IP address is: <%= @ipaddress %></p>
  </body> 
</html>
=======
<html>
 <head>
   <title>Puppet test - New feature</title>
  </head> 
  <body>
     <p>This server's name is: <%= @hostname %></p>
     <p>This server's IP address is: <%=@ipaddress %></p>
   <h1>Hello World!</h1>
  </body>
 </html>
>>>>>>> 8f86e2d26add94ed3f280bd482b066df4112d6d6
